[user]
	name = pengsida
	email = pengsida@zju.edu.cn
[credential]
	helper = cache --timeout=60480000
[https]
	proxy = http://localhost:8118
[http]
	proxy = http://localhost:8118
[merge]
	tool = meld
[pager]
    diff = diff-highlight | less
    log = diff-highlight | less
    show = diff-highlight | less
