@define-color bg-grey #222;
@define-color active #313131;

TerminalWindow .notebook {
    border: 0;
    padding: 0;
    color: #fff;
    background-color: shade(@active, 1);
}

TerminalWindow .notebook tab:active {
    background-color: shade(@active,1);
}

TerminalWindow .notebook tab {
    border-radius: 0px;
    padding: 3px;
    background-color: shade(@bg-grey, 1);
}

